doctype html
html
  head
    title= title
    meta(name='viewport' content='width=device-width, initial-scale=1')
    link(rel='stylesheet' href='https://www.w3schools.com/w3css/4/w3.css')
    
    //- setup for bootstrap v4.5
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous")
    script(src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous")
    script(src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous")
    script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous")

    link(rel='stylesheet', href='/stylesheets/style.css')
  body

    nav.navbar.navbar-expand-lg.navbar-light.bg-light
      a.navbar-brand(href='/') Welcome
      button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
        span.navbar-toggler-icon
      #navbarSupportedContent.collapse.navbar-collapse
        ul.navbar-nav.mr-auto
          li.nav-item.dropdown
            a.nav-link(href="/user" aria-haspopup="true" aria-expanded="false") Users

          li.nav-item.dropdown
            a#navbarDropdown.nav-link.dropdown-toggle(href="/restaurants" class="dropbtn" aria-haspopup="true" aria-expanded="false") Restaurants
            div.dropdown-content
              a(class="dropdown-item" href="/restaurants") All Restaurants
              a(class="dropdown-item" href="/restaurants/new") Create a New Restaurant

          li.nav-item.dropdown
            a#navbarDropdown.nav-link.dropdown-toggle(href="/category" class="dropbtn" aria-haspopup="true" aria-expanded="false") Categories
            div.dropdown-content
              a(class="dropdown-item" href="/category") All Categories
              a(class="dropdown-item" href="/category/new") Create a New Category

          li.nav-item.dropdown
            a#navbarDropdown.nav-link.dropdown-toggle(href="/dishes" class="dropbtn" aria-haspopup="true" aria-expanded="false") Dishes
            div.dropdown-content
              a(class="dropdown-item" href="/dishes") All Dishes
              a(class="dropdown-item" href="/dishes/new") Create a New Dish


        form.form-inline.my-2.my-lg-0(method='POST' action='/search')
          input#search.form-control(type='search', placeholder='Search' name='search' required='true')
          button.btn.btn-outline-success.my-2.my-sm-0(type='submit') Search

        form.form-inline.my-2.my-lg-0(method='POST' action='/logout')
          button.btn.btn-link(type="submit") Logout




    block style
    block content
    block script
    block swal

