link(rel='stylesheet', href='/static/stylesheets/style_form.css')
h1= title
section#content
  form(action='/register' method='POST')
    h1 Register Form
    div.form-group
      input#username.form-control(type='text' placeholder='username' name='username' required='true')
    div.form-group
      input#password.form-control(type='password' placeholder='password' name='password' required='true')
    div.form-group
      input#password.form-control(type='password' placeholder='type password again' name='confirm_password' required='true')

    div
      input(type='submit' value='Register')

      if errors 
        ul
          for error in errors
            li!= error.msg
      if duplicate
        h5 Username already been taken!        
